footer{

   ul{
        

        color:$grey;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        li:last-child{
            display: none;
            visibility: hidden;
        }

        li{
            margin: 15px;

            h4{
                color: $black;
            }

           
            

            ul{
                padding: 0 15px 15px 0;
                

                color: $grey;
                display: flex;
                flex-direction: column;

                li{
                    padding-top: 10px;
                    margin: 0;

                    a{
                        display: block;
                    }
                    
                }

                li:last-child{
                    display: block;
                    visibility: visible;
            
                }

                
            }
        }
        
       
      
    }
}





.footer_privacy{

    padding: 30px;

    display:flex;
    justify-content: space-between;
    flex-direction: column;

    .footer_privacy_left{
        color:$grey;
        display: flex;


        padding: 20px;

        img{
            


        }

    }

    .footer_privacy_right{
        color: $grey;
        display: flex;
        
        p{
            display: flex;
            justify-content: space-around;
        }

    }
}