.home_mainCollection{
	.home_title{
		.home_title_right{
			text-align: right;
			display: flex;
			flex-direction: column;
			position: static;
			margin-right: 20px;
			.home_bigText{
				padding-top: 10px;
				font-size: 1.3em;
			}
			.home_separator{
				width:20px;
				height: 2px;
				background-color: $grey;
				position: relative;
				margin-left: 110px;
			}
			& li span{
				display: block;
				visibility: visible;
			}
			.home_bullet{
				display: none;
				visibility: hidden;
			}
			li{
				color: $grey;
				padding-bottom: 30px;
			}
			li:last-child{
				color: $black;
			}
		}
	}
}

.home_topSellers, .home_newArrival, .home_latestNews, .home_keepConnected{
	width: 800px;
	margin: 0 auto;
}