.home_mainCollection{

}

.home_title_left{
list-style-type: none;

height:50px;
width: 50p;
display: flex;
justify-content: start;

}

.home_title_center{

    color:white;
    display: flex;
    justify-content: center;
}

.home_topSellers{
    margin-left: auto;
    margin-right: auto;
}