@import '../../secondary/mixins/_mixins.scss';
.home_mainCollection{
	margin-top: 70px;
	background: 45% url('../../img/home/sl3-1.jpg') no-repeat;
	height: 600px;
	background-size: cover;
	.home_title{
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-end;
		.home_title_center{
			text-align: center;
			color: white;
			position: absolute;
			top: 40%;
			width: 80%;
			h2{
				margin-bottom: 50px;
			}
			a{
				color: white;
				border-bottom: 3px solid white;
			}
		}
		.home_title_left{
			margin-bottom: 20px;
			display: flex;
			flex-direction: row;
			img{
				margin-right: 20px; 
				width: 20px;
			}
		}
		.home_title_right{
			margin-bottom: 20px;
			font-size: 1em;
			display: flex;
			flex-direction: row;
			& li span{
				display: none;
				visibility: hidden;
			}
			.home_bullet{
				display: inline-block;
				visibility: visible;
				margin-right: 10px;
				border-radius: 50%;
				border: 1px solid $grey;
				height: 10px;
				width: 10px;
			}
			& li:last-child .home_bullet{
				background-color: $black;
				border: 1px solid $black;
			} 
		}
	}
}


.home_collection{
	.home_collection_left{
		text-align:left;
		@include collection('../../img/home/banner_h1_1.jpg');
	}
	.home_collection_center{
		text-align: center;
		@include collection('../../img/home/banner_h1_2.jpg');
		color: white;
		div{
			p{
				color: white;
			}
			a{
				color: white;
				border-bottom: 3px solid white;
			}
		}
	}
	.home_collection_right{
		text-align: right;
		@include collection('../../img/home/banner_h1_3.jpg');
	}
}

.home_topSellers{
	padding: 15px;
	.home_topSellers_header{
		margin: 50px 0;
		h2{
			font-size: 1.5em;
		}
		p{
			padding-top: 10px;
			color: $grey;
		}
	}
	article{
		margin-bottom: 40px;
	}
	.home_topSellers_small{
		@include topSellers(75%);
	}
	.home_topSellers_big{
		@include topSellers(100%);
	}
	
	
}

.home_newArrival{
	padding: 10px;
	.home_newArrival_header{
		margin: 20px 0;
		h2{
			font-size: 1.5em;
		}
		p{
			margin-top: 10px;
		}
	}
	.home_newArrival_nav{
		ul{
			display: flex;
			flex-wrap: wrap;
			line-height: 1.5;
			li{
				padding-right: 20px;
			}
			li:first-child{
				a{
					color: $black;
				}
			}
		}
	}
	.home_article_items{
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
	}
	.hotlinks_div{
		text-align: center;
	}
}

.home_deal{
	padding: 10px;
	background: 55% url('../../img/home/deals_image.jpg');
	.home_deal_text{
		padding: 30px;
		.home_deal_subtitle{
			color: $grey;
			margin-bottom: 15px;
		}
		h2{
			font-size: 1.5em;
			margin-bottom: 15px;
		}
		del{
			color: $grey;
		}
		.deal_del{
			margin-bottom: 20px;
		}
	}
}