html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

body {
  font-family: "Roboto"; }

h2 {
  font-size: 2.5em;
  font-weight: bold; }

h3 {
  font-size: 1.5em;
  font-weight: bold; }

h4 {
  font-size: 1.2em; }

.hidden {
  display: none;
  visibility: hidden; }

a {
  text-decoration: none;
  color: #999; }

.hotLinks {
  font-size: .8em;
  padding: 3px 0;
  border-bottom: 3px solid #222;
  font-weight: bold;
  color: #222; }

.price {
  color: #999; }

.item_label {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: #f68773; }

.shop_item, .product_related_item, .home_item {
  position: relative;
  margin: 20px 10px;
  width: 150px;
  overflow: hidden; }
  .shop_item h3, .product_related_item h3, .home_item h3 {
    padding: 10px 0;
    font-size: 1em;
    font-weight: normal;
    color: #222; }
  .shop_item img, .product_related_item img, .home_item img {
    width: 100%; }
  .shop_item .price, .product_related_item .price, .home_item .price {
    padding: 10px 0; }
  .shop_item .item_label, .product_related_item .item_label, .home_item .item_label {
    position: absolute;
    top: 20px;
    left: 20px; }
  .shop_item .hot, .product_related_item .hot, .home_item .hot {
    background-color: #ff1c5d; }

.rating {
  font-size: 1.5em;
  color: #f68773; }

.rating span:last-child {
  color: #DFDFDF; }

main {
  margin-top: 65px; }

header {
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #DFDFDF; }
  header > a img {
    display: block;
    margin: 10px 0; }
  header .header_nav {
    display: none;
    visibility: hidden; }
  header .header_icons_navbar ul {
    display: flex;
    padding-right: 20px; }
    header .header_icons_navbar ul img {
      padding: 10px;
      height: 20px; }

.searchbar {
  display: none;
  visibility: hidden; }

.header_cart {
  position: relative;
  text-align: center; }
  .header_cart .cart_items {
    color: white;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #f68773;
    position: absolute;
    right: 0;
    top: 0; }

footer ul {
  color: #999;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  footer ul li:last-child {
    display: none;
    visibility: hidden; }
  footer ul li {
    margin: 20px; }
    footer ul li h4 {
      color: #222;
      font-weight: bold; }
    footer ul li ul {
      padding: 0 15px 15px 0;
      color: #999;
      display: flex;
      flex-direction: column; }
      footer ul li ul li {
        padding-top: 10px;
        margin: 0; }
        footer ul li ul li a {
          color: #999;
          text-decoration: none; }
          footer ul li ul li a img {
            margin-left: 20px;
            height: 10px;
            transform: rotate(90deg); }
      footer ul li ul li:last-child {
        display: block;
        visibility: visible; }

footer .footer_privacy {
  border-top: 1px solid #DFDFDF; }
  footer .footer_privacy .footer_privacy_left strong {
    font-weight: bold;
    color: black; }
  footer .footer_privacy .footer_privacy_right p {
    padding-right: 20px; }

.footer_privacy {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  .footer_privacy .footer_privacy_left {
    color: #999;
    display: flex;
    padding-bottom: 20px; }
  .footer_privacy .footer_privacy_right {
    color: #999;
    display: flex; }
    .footer_privacy .footer_privacy_right p {
      display: flex;
      justify-content: space-between; }

.home_mainCollection {
  margin-top: 70px;
  background: 45% url("../../img/home/sl3-1.jpg") no-repeat;
  height: 600px;
  background-size: cover; }
  .home_mainCollection .home_title {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end; }
    .home_mainCollection .home_title .home_title_center {
      text-align: center;
      color: white;
      position: absolute;
      top: 40%;
      width: 80%; }
      .home_mainCollection .home_title .home_title_center h2 {
        margin-bottom: 20px; }
      .home_mainCollection .home_title .home_title_center a {
        color: white;
        border-bottom: 3px solid white; }
    .home_mainCollection .home_title .home_title_left {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row; }
      .home_mainCollection .home_title .home_title_left img {
        margin-right: 20px;
        width: 20px; }
    .home_mainCollection .home_title .home_title_right {
      margin-bottom: 20px;
      font-size: 1em;
      display: flex;
      flex-direction: row; }
      .home_mainCollection .home_title .home_title_right li span {
        display: none;
        visibility: hidden; }
      .home_mainCollection .home_title .home_title_right .home_bullet {
        display: inline-block;
        visibility: visible;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid #999;
        height: 10px;
        width: 10px; }
      .home_mainCollection .home_title .home_title_right li:last-child .home_bullet {
        background-color: #222;
        border: 1px solid #222; }

.home_collection .home_collection_left {
  text-align: left;
  background: 45% url("../../img/home/banner_h1_1.jpg") no-repeat;
  background-size: cover; }
  .home_collection .home_collection_left div {
    padding: 60px 40px; }
  .home_collection .home_collection_left p {
    color: #999;
    padding: 20px 0; }
  .home_collection .home_collection_left h2 {
    margin-bottom: 20px; }

.home_collection .home_collection_center {
  text-align: center;
  background: 45% url("../../img/home/banner_h1_2.jpg") no-repeat;
  background-size: cover;
  color: white; }
  .home_collection .home_collection_center div {
    padding: 60px 40px; }
  .home_collection .home_collection_center p {
    color: #999;
    padding: 20px 0; }
  .home_collection .home_collection_center h2 {
    margin-bottom: 20px; }
  .home_collection .home_collection_center div p {
    color: white; }
  .home_collection .home_collection_center div a {
    color: white;
    border-bottom: 3px solid white; }

.home_collection .home_collection_right {
  text-align: right;
  background: 45% url("../../img/home/banner_h1_3.jpg") no-repeat;
  background-size: cover; }
  .home_collection .home_collection_right div {
    padding: 60px 40px; }
  .home_collection .home_collection_right p {
    color: #999;
    padding: 20px 0; }
  .home_collection .home_collection_right h2 {
    margin-bottom: 20px; }

.home_topSellers {
  padding: 15px; }
  .home_topSellers .home_topSellers_header {
    margin: 50px 0; }
    .home_topSellers .home_topSellers_header h2 {
      font-size: 1.5em; }
    .home_topSellers .home_topSellers_header p {
      padding-top: 10px;
      color: #999; }
  .home_topSellers article {
    margin-bottom: 40px; }
  .home_topSellers .home_topSellers_small img {
    width: 75%; }
  .home_topSellers .home_topSellers_small h3, .home_topSellers .home_topSellers_small h2 {
    font-size: 1.5em;
    margin: 20px 0; }
  .home_topSellers .home_topSellers_small p {
    margin-bottom: 20px; }
  .home_topSellers .home_topSellers_small a {
    border-bottom: 3px solid #222; }
  .home_topSellers .home_topSellers_big img {
    width: 100%; }
  .home_topSellers .home_topSellers_big h3, .home_topSellers .home_topSellers_big h2 {
    font-size: 1.5em;
    margin: 20px 0; }
  .home_topSellers .home_topSellers_big p {
    margin-bottom: 20px; }
  .home_topSellers .home_topSellers_big a {
    border-bottom: 3px solid #222; }

.home_newArrival {
  padding: 10px; }
  .home_newArrival .home_newArrival_header {
    margin: 20px 0; }
    .home_newArrival .home_newArrival_header h2 {
      font-size: 1.5em; }
    .home_newArrival .home_newArrival_header p {
      margin-top: 10px; }
  .home_newArrival .home_newArrival_nav ul {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5; }
    .home_newArrival .home_newArrival_nav ul li {
      padding-right: 20px; }
    .home_newArrival .home_newArrival_nav ul li:first-child a {
      color: #222; }
  .home_newArrival .home_article_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .home_newArrival .hotlinks_div {
    text-align: center; }

.home_deal {
  margin: 20px 0;
  padding: 10px;
  background: 55% url("../../img/home/deals_image.jpg"); }
  .home_deal .home_deal_text {
    padding: 30px; }
    .home_deal .home_deal_text .home_deal_subtitle {
      color: #999;
      margin-bottom: 15px; }
    .home_deal .home_deal_text h2 {
      font-size: 1.5em;
      margin-bottom: 15px; }
    .home_deal .home_deal_text del {
      color: #999; }
    .home_deal .home_deal_text .deal_del {
      margin-bottom: 20px; }
    .home_deal .home_deal_text .home_deal_countdown {
      margin: 50px 0;
      padding: 20px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      text-align: center; }
      .home_deal .home_deal_text .home_deal_countdown div p:first-child {
        font-weight: bold;
        font-size: 1.2em; }
      .home_deal .home_deal_text .home_deal_countdown div p:nth-child(2) {
        padding: 10px 0 0 0;
        color: #999;
        font-size: .8em; }

.home_latestNews {
  margin: 30px 0;
  padding: 15px; }
  .home_latestNews .home_latestNews_header {
    margin-bottom: 30px; }
    .home_latestNews .home_latestNews_header p {
      margin: 10px 0;
      color: #999; }
  .home_latestNews .home_latestNews_news img {
    width: 100%; }
  .home_latestNews .home_latestNews_news .news_desc {
    margin: 20px 0; }
  .home_latestNews .home_latestNews_news div div {
    margin-bottom: 10px;
    display: flex; }
  .home_latestNews .home_latestNews_news .home_news_diy {
    color: #f68773; }
  .home_latestNews .home_latestNews_news .home_dates {
    padding-left: 15px;
    color: #999; }
  .home_latestNews .home_latestNews_news .home_news_art {
    margin-bottom: 40px; }

.home_keepConnected {
  border-bottom: 1px solid #DFDFDF;
  padding: 15px; }
  .home_keepConnected h2 {
    margin-bottom: 10px;
    font-size: 1.5em; }
  .home_keepConnected p {
    color: #999; }
  .home_keepConnected form {
    margin: 40px 0 20px 0;
    display: flex;
    justify-content: space-between; }
    .home_keepConnected form input[type=email] {
      border: none;
      color: #999; }
    .home_keepConnected form input[type=submit] {
      font-family: "Roboto", sans-serif;
      background-color: white;
      border: none;
      font-weight: bold; }

.home_banner h2 {
  text-align: center;
  font-size: 1.5em;
  margin: 30px; }

.home_banner ul {
  display: flex;
  flex-wrap: wrap; }
  .home_banner ul li {
    width: 33%; }
    .home_banner ul li img {
      width: 100%; }

.home_banner li:nth-child(4) {
  display: none;
  visibility: hidden; }

.home_banner li:nth-child(5) {
  display: none;
  visibility: hidden; }

.home_banner li:nth-child(6) {
  display: none;
  visibility: hidden; }

.home_banner li:nth-child(7) {
  display: none;
  visibility: hidden; }

/*body{

   main{
       padding: 0;
    }
    
}*/
.about_us img {
  width: 100%; }

.about_us #about_us_text_about_us {
  color: #f68773;
  text-transform: uppercase;
  font-size: large; }

.about_us h2 {
  font-size: 1.8em; }

.about_us h2 + p {
  padding-bottom: 80px; }

.about_us p {
  color: #999;
  padding-top: 30px;
  padding-bottom: 30px; }

.about_founder {
  display: flex;
  flex-wrap: wrap; }
  .about_founder img {
    width: 100%;
    margin: 0 20px 30px 0; }
  .about_founder blockquote {
    padding-bottom: 40px; }
    .about_founder blockquote p {
      font-style: italic;
      font-size: 28px;
      font-weight: bold; }

#about_author {
  color: #f68773;
  text-transform: uppercase;
  font-size: large;
  padding-bottom: 10px; }

#about_job {
  font-style: italic;
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 20px; }

#about_job + p {
  color: #999;
  padding-bottom: 80px;
  padding-top: 10px; }

.about_second .moments_title h2 + p {
  color: #999;
  padding-top: 20px;
  padding-bottom: 40px; }

.key_dates p {
  color: #999;
  padding-top: 10px;
  padding-bottom: 30px; }

.about_third .about_drama {
  position: relative;
  height: 650px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-image: url(../../img/about/video-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .about_third .about_drama .about_drama_text {
    position: absolute;
    top: 100px; }
  .about_third .about_drama p {
    color: white; }
  .about_third .about_drama h2 {
    color: white;
    text-align: center;
    padding-top: 20px; }
  .about_third .about_drama img + img {
    position: absolute; }

.about_third .about_guarantee {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold; }
  .about_third .about_guarantee .about_guarantee_content {
    display: flex;
    margin: 5px; }
    .about_third .about_guarantee .about_guarantee_content img {
      height: 20px;
      margin-right: 15px; }
  .about_third .about_guarantee .contact_text {
    color: #999;
    padding-bottom: 20px;
    font-weight: normal; }

.about_fourth .about_hidden {
  display: none;
  visibility: hidden; }

.about_fourth .about_hidden + div {
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px; }

.about_fourth .about_shop {
  color: #999; }

.about_fifth {
  padding-top: 80px; }
  .about_fifth h2 {
    text-align: center;
    padding-bottom: 20px; }
  .about_fifth .about_members {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .about_fifth .about_members img {
      width: 130px;
      height: 130px; }
    .about_fifth .about_members img + p {
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 10px; }
    .about_fifth .about_members p + p {
      color: #999;
      padding-bottom: 40px; }

.about_sponsors {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .about_sponsors .about_hidden {
    display: none;
    visibility: hidden; }
  .about_sponsors img {
    opacity: 0.5;
    margin: 10px;
    width: 100px; }

.contact_title {
  background-image: url("../../../img/contact/contact-bg.jpg");
  padding-top: 15px;
  height: 350px;
  display: flex;
  align-items: center; }
  .contact_title .contact_center {
    margin: auto;
    width: 50%;
    text-align: center; }
    .contact_title .contact_center h2 {
      font-size: 2.5em;
      font-weight: bold; }
  .contact_title ul {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 0 0; }
    .contact_title ul li:last-child a {
      color: #222; }
    .contact_title ul a {
      color: #999; }

.contact_form {
  margin: 40px 20px 0 20px; }
  .contact_form .contact_firstline {
    display: flex;
    flex-direction: column; }
    .contact_form .contact_firstline #field_name {
      margin: 30px 0 15px 0; }
    .contact_form .contact_firstline #field {
      height: 50px;
      border: solid 1px #DFDFDF; }
    .contact_form .contact_firstline #message {
      height: 150px;
      border: solid 1px #DFDFDF; }
    .contact_form .contact_firstline label::after {
      content: "*";
      color: red; }
  .contact_form #submit_button {
    color: white;
    font-weight: bold;
    background-color: black;
    border: none;
    width: 50%;
    padding: 15px 20px 15px 20px;
    margin-top: 30px; }

.contact_media {
  display: flex; }
  .contact_media li {
    margin: 30px 20px 0 0;
    border-radius: 30px;
    border: solid 1px #DFDFDF; }
    .contact_media li img {
      height: 30px;
      padding: 5px; }

h3 {
  font-weight: bold;
  margin-top: 20px; }

.contact_subtitle {
  margin-top: 30px;
  font-weight: bold; }

.contact_text {
  margin-top: 10px;
  color: #DFDFDF; }

.contact_office {
  margin: 60px 0 0 0; }
  .contact_office p {
    margin-top: 20px;
    color: #DFDFDF; }

.contact_touch {
  margin: 60px 0 0 0; }

.contact_stores {
  margin: 100px 20px 0 20px; }
  .contact_stores .contact_fullAd {
    display: flex;
    flex-direction: column;
    margin-top: 30px; }
    .contact_stores .contact_fullAd .contact_phoneEmail {
      margin-top: 30px;
      display: flex; }
      .contact_stores .contact_fullAd .contact_phoneEmail .contact_mail {
        margin-left: 80px; }
        .contact_stores .contact_fullAd .contact_phoneEmail .contact_mail p:nth-child(2) {
          width: 140px;
          height: 32px;
          word-break: break-all; }

.contact_map {
  margin: 80px 0 100px 0; }
  .contact_map .gmap_canvas {
    height: 200px; }
    .contact_map .gmap_canvas iframe {
      width: 100%;
      height: 200px; }
  .contact_map label::after {
    content: "*";
    color: red; }

.product_card, .product_description, .products_related {
  padding: 20px; }

.breadcrumb {
  line-height: 1.5;
  margin: 30px 0 60px;
  display: flex;
  flex-wrap: wrap; }
  .breadcrumb li {
    padding-right: 10px;
    color: #999; }
  .breadcrumb li:last-child a {
    color: #222; }

.product_description_nav_nextprev {
  visibility: hidden;
  display: none; }

.product_card_images .product_mainImage {
  position: relative; }
  .product_card_images .product_mainImage div {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    align-text: center;
    display: inline-block;
    border-radius: 50%; }
  .product_card_images .product_mainImage img {
    width: 100%; }
    .product_card_images .product_mainImage img:last-child {
      padding: 10px;
      width: 20px; }

.product_card_images .product_SmallImages {
  margin: 10px 0;
  display: flex;
  justify-content: space-between; }
  .product_card_images .product_SmallImages img {
    width: 30%; }
  .product_card_images .product_SmallImages img:last-child {
    visibility: hidden;
    display: none; }

.product_review {
  margin: 20px 0;
  display: flex; }
  .product_review p {
    color: #999; }

.product_card_infos h2 {
  font-size: 1.3em;
  padding-bottom: 20px; }

.product_card_infos .product_reference {
  color: #DFDFDF; }

.product_card_infos .product_price {
  padding: 20px 0; }

.product_card_infos .product_card_description {
  color: #999; }

.product_card_infos form {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap; }
  .product_card_infos form input[type=number] {
    margin: 20px 0 10px 0;
    width: 100%;
    height: 42px;
    border: 1px solid #999; }
  .product_card_infos form input[type=submit] {
    font-weight: bold;
    padding: 15px;
    background-color: #222;
    color: white;
    border: none; }
  .product_card_infos form input[type=image] {
    margin-left: 10px;
    padding: 12px;
    border: 1px solid #999;
    height: 20px;
    vertical-align: bottom; }
  .product_card_infos form .add_cart {
    flex-grow: 1; }
  .product_card_infos form .buy_now {
    margin: 15px 0;
    width: 100%; }

.product_card_footer {
  border-top: 1px solid #999;
  padding: 10px 0 50px 0; }
  .product_card_footer .product_card_social {
    display: flex;
    padding-top: 40px; }
    .product_card_footer .product_card_social img {
      height: 25px;
      padding-right: 20px; }
  .product_card_footer p {
    padding: 20px 0 0 0;
    color: #999;
    line-height: 1.5; }
    .product_card_footer p strong {
      color: #222;
      font-weight: bold; }

.product_description_nav {
  padding: 15px 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  text-align: center; }
  .product_description_nav li {
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px; }
    .product_description_nav li:first-child a {
      color: #222; }

.product_description_text {
  padding: 30px 0; }
  .product_description_text h3 {
    padding: 30px 0;
    font-weight: normal; }
  .product_description_text p {
    line-height: 1.5;
    color: #999; }
  .product_description_text ul {
    line-height: 1.5;
    color: #999;
    padding: 0 20px;
    list-style-type: disc; }
  .product_description_text img {
    margin-top: 20px;
    width: 100%; }

.products_related h2 {
  margin: 20px 0;
  font-size: 1.8em;
  text-align: center; }

.products_related article {
  width: 100%;
  margin: 0; }

.shop_products .shop_header {
  margin: 60px 20px 20px 20px; }
  .shop_products .shop_header .shop_header_title h3 {
    font-size: 2em; }
  .shop_products .shop_header .shop_header_title ul {
    padding: 30px 0;
    color: #999; }
    .shop_products .shop_header .shop_header_title ul li {
      display: inline;
      padding-right: 10px; }
    .shop_products .shop_header .shop_header_title ul li:last-child a {
      color: #222; }
  .shop_products .shop_header .shop_subheader {
    display: flex;
    justify-content: space-between; }
    .shop_products .shop_header .shop_subheader .shop_header_right {
      color: #999; }
      .shop_products .shop_header .shop_subheader .shop_header_right span {
        color: #222; }
      .shop_products .shop_header .shop_subheader .shop_header_right a {
        display: none;
        visibility: hidden; }
    .shop_products .shop_header .shop_subheader .shop_header_icons a img {
      height: 15px; }
    .shop_products .shop_header .shop_subheader .shop_header_icons a:last-child {
      display: none;
      visibility: hidden; }

.shop_products .shop_products_layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.shop_products .discover_more {
  text-align: center;
  margin: 15px 0 25px 0; }

.shop_aside {
  margin: 0 20px; }
  .shop_aside article {
    margin: 30px 0; }
    .shop_aside article h3 {
      padding: 40px 0; }
    .shop_aside article ul {
      color: #999; }
      .shop_aside article ul li {
        padding-bottom: 20px; }
  .shop_aside form label {
    color: #999; }
  .shop_aside form input[type=range] {
    width: 100%;
    margin: 0 0 20px 0; }
  .shop_aside form .colors_checboxes {
    margin: 20px 0;
    display: flex;
    flex-direction: column; }
    .shop_aside form .colors_checboxes .form_checkbox {
      padding: 10px 0;
      display: flex;
      justify-content: space-between; }
      .shop_aside form .colors_checboxes .form_checkbox .bull {
        display: inline-block;
        vertical-align: text-top;
        border-radius: 10px;
        height: 20px;
        width: 20px;
        margin-right: 10px; }
        .shop_aside form .colors_checboxes .form_checkbox .bull.black {
          background: #222; }
        .shop_aside form .colors_checboxes .form_checkbox .bull.blue {
          background: #70849d; }
        .shop_aside form .colors_checboxes .form_checkbox .bull.gold {
          background: #cc9900; }
        .shop_aside form .colors_checboxes .form_checkbox .bull.nude {
          background: #cfa58f; }
        .shop_aside form .colors_checboxes .form_checkbox .bull.orange {
          background: #f68773; }
        .shop_aside form .colors_checboxes .form_checkbox .bull.red {
          background: #990100; }
  .shop_aside form ul li {
    display: inline; }
    .shop_aside form ul li a {
      color: #222; }
  .shop_aside .shop_aside_products .shop_aside_products_small .shop_item {
    overflow: visible;
    display: flex;
    width: 100%; }
    .shop_aside .shop_aside_products .shop_aside_products_small .shop_item img {
      height: 100px;
      width: 100px; }
    .shop_aside .shop_aside_products .shop_aside_products_small .shop_item .aside_product_text {
      margin: 0 0 0 20px; }
    .shop_aside .shop_aside_products .shop_aside_products_small .shop_item h3 {
      padding: 0 0 10px 0;
      font-weight: bold; }

@media (min-width: 480px) {
  footer ul li:last-child {
    display: block;
    visibility: visible; }
  .home_mainCollection .home_title {
    flex-direction: row;
    justify-content: space-between;
    position: relative; }
    .home_mainCollection .home_title .home_title_left {
      margin-left: 20px;
      flex-direction: column; }
      .home_mainCollection .home_title .home_title_left img {
        margin-bottom: 20px;
        width: 20px; }
    .home_mainCollection .home_title .home_title_center {
      position: static;
      margin: 0 auto; }
    .home_mainCollection .home_title .home_title_right {
      position: absolute;
      bottom: 0;
      right: 45%; }
  .home_collection .home_collection_left div {
    width: 30%; }
  .home_collection .home_collection_center div {
    width: 30%;
    margin: 0 auto; }
  .home_collection .home_collection_right div {
    margin-left: 70%; }
  .home_topSellers .home_topSellers_small img {
    width: 30%; }
  .home_topSellers .home_topSellers_small h3, .home_topSellers .home_topSellers_small h2 {
    font-size: 1.5em;
    margin: 20px 0; }
  .home_topSellers .home_topSellers_small p {
    margin-bottom: 20px; }
  .home_topSellers .home_topSellers_small a {
    border-bottom: 3px solid #222; }
  .home_topSellers .home_topSellers_big {
    position: relative; }
    .home_topSellers .home_topSellers_big img {
      width: 70%; }
    .home_topSellers .home_topSellers_big h3, .home_topSellers .home_topSellers_big h2 {
      font-size: 1.5em;
      margin: 20px 0; }
    .home_topSellers .home_topSellers_big p {
      margin-bottom: 20px; }
    .home_topSellers .home_topSellers_big a {
      border-bottom: 3px solid #222; }
    .home_topSellers .home_topSellers_big img {
      margin-left: 20%; }
    .home_topSellers .home_topSellers_big div {
      position: absolute;
      top: 50px;
      z-index: 10; }
  .home_newArrival .home_article_items .home_item {
    width: 40%; }
  .home_keepConnected {
    display: flex;
    justify-content: space-between; }
  .home_latestNews_news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .home_latestNews_news .home_news_art:nth-child(1) {
      width: 100%; }
    .home_latestNews_news .home_news_art:nth-child(2), .home_latestNews_news .home_news_art:nth-child(3) {
      width: 45%; }
  .about_us h2 {
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    margin-left: 80px; }
  .about_us h2 + p {
    display: flex;
    justify-content: flex-end;
    padding-left: 200px; }
  .about_founder {
    flex-wrap: nowrap; }
    .about_founder img {
      height: 235px;
      width: 250px; }
    .about_founder .about_founder_text {
      width: auto; }
      .about_founder .about_founder_text blockquote {
        display: flex;
        justify-content: flex-end;
        margin-left: 6%; }
      .about_founder .about_founder_text blockquote + p {
        display: flex;
        justify-content: flex-start;
        margin-left: 6%; }
      .about_founder .about_founder_text p + p {
        display: flex;
        justify-content: flex-start;
        margin-left: 6%; }
  .about_second .moments_title {
    margin-right: 180px; }
  .about_second .key_dates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .about_second .key_dates .key_date {
      margin: 10px;
      width: 268px; }
  .about_third .about_drama .about_drama_text {
    position: relative;
    top: 100px; }
  .about_third .about_guarantee .about_guarantee_content {
    margin: 60px; }
  .about_fourth .about_hidden + div {
    font-size: 32px;
    text-align: center;
    padding-bottom: 60px; }
  #message {
    resize: none;
    box-sizing: border-box;
    width: 100%; }
  .contact_form .contact_firstline {
    display: flex;
    flex-direction: column; }
    .contact_form .contact_firstline .contact_fields {
      display: flex;
      justify-content: space-between; }
      .contact_form .contact_firstline .contact_fields .contact_nameField,
      .contact_form .contact_firstline .contact_fields .contact_mailField {
        display: flex;
        flex-direction: column;
        width: 48%; }
    .contact_form .contact_firstline .contact_mailing {
      margin-top: 30px; }
      .contact_form .contact_firstline .contact_mailing #message {
        margin-top: 20px; }
  .contact_form #submit_button {
    width: 30%; }
  .contact_align {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 80px; }
    .contact_align .contact_mail p:nth-child(2) {
      white-space: nowrap; }
  .product_card_images .product_SmallImages {
    margin: 10px 0;
    display: flex;
    justify-content: space-between; }
    .product_card_images .product_SmallImages img {
      width: 20%; }
    .product_card_images .product_SmallImages img:last-child {
      visibility: visible;
      display: block; }
  .product_card_infos .product_reference {
    color: #DFDFDF; }
  .product_card_infos .product_price {
    padding: 20px 0; }
  .product_card_infos .product_card_description {
    color: #999; }
  .product_card_infos p {
    margin-bottom: 20px; }
  .product_card_infos form {
    display: flex;
    flex-wrap: wrap; }
    .product_card_infos form input[type=number] {
      width: auto;
      margin: 0; }
    .product_card_infos form .add_cart {
      flex-grow: 0;
      height: 46px;
      margin-left: 10px; }
    .product_card_infos form .buy_now {
      margin: 15px 0;
      width: 100%; }
  .product_description_text .product_features {
    width: 60%; }
  .product_flex_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .product_flex_container article {
      width: 40%;
      margin: 15px; }
  .shop_products .shop_header .shop_subheader .shop_header_right {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .shop_products .shop_header .shop_subheader .shop_header_right a {
      visibility: visible;
      display: inline-block;
      padding: 0 15px; }
      .shop_products .shop_header .shop_subheader .shop_header_right a img {
        height: 10px;
        transform: rotate(90deg);
        padding: 0 30px 0 30px; }
      .shop_products .shop_header .shop_subheader .shop_header_right a:nth-child(1) {
        display: none;
        visibility: hidden; }
      .shop_products .shop_header .shop_subheader .shop_header_right a:nth-child(2) {
        font-weight: bold;
        color: #222; }
  .shop_aside {
    width: 50%; } }

@media (min-width: 1025px) {
  header {
    padding-left: 20px; }
    header .header_nav {
      display: flex;
      visibility: visible;
      flex-direction: row;
      align-self: center;
      padding-left: 50px;
      margin-right: auto; }
      header .header_nav li {
        padding-right: 30px; }
        header .header_nav li a {
          color: #222; }
  .searchbar {
    display: flex;
    visibility: visible;
    align-items: center; }
    .searchbar input {
      border: none;
      color: #999; }
  .header_icons li:nth-child(2) {
    padding-right: 60px; }
  .footer_privacy {
    display: flex;
    flex-direction: row; }
  footer ul {
    justify-content: space-between; }
  .home_mainCollection .home_title .home_title_right {
    text-align: right;
    display: flex;
    flex-direction: column;
    position: static;
    margin-right: 20px; }
    .home_mainCollection .home_title .home_title_right .home_bigText {
      padding-top: 10px;
      font-size: 1.3em; }
    .home_mainCollection .home_title .home_title_right .home_separator {
      width: 20px;
      height: 2px;
      background-color: #999;
      position: relative;
      margin-left: 110px; }
    .home_mainCollection .home_title .home_title_right li span {
      display: block;
      visibility: visible; }
    .home_mainCollection .home_title .home_title_right .home_bullet {
      display: none;
      visibility: hidden; }
    .home_mainCollection .home_title .home_title_right li {
      color: #999;
      padding-bottom: 30px; }
    .home_mainCollection .home_title .home_title_right li:last-child {
      color: #222; }
  .home_topSellers, .home_newArrival, .home_latestNews, .home_keepConnected {
    width: 800px;
    margin: 0 auto; }
  main {
    max-width: 1000000px;
    margin: 0;
    display: block; }
  .about_first .about_us {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse; }
    .about_first .about_us img {
      margin-bottom: 80px; }
    .about_first .about_us .about_us_text {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: auto;
      margin-right: 15px; }
      .about_first .about_us .about_us_text h2 {
        margin-left: 0; }
      .about_first .about_us .about_us_text h2 + p {
        padding-left: 0; }
  .about_second {
    display: flex;
    justify-content: space-between; }
    .about_second .moments_title {
      width: 30%;
      margin-right: 0; }
    .about_second .key_dates {
      width: 60%;
      justify-content: flex-end; }
  .product_card, .product_description, .products_related {
    width: 60%;
    margin: 0 auto; }
  .product_card_nav {
    display: flex;
    justify-content: space-between; }
  .product_description_nav_nextprev {
    visibility: visible;
    display: block;
    margin-top: 30px; }
    .product_description_nav_nextprev a {
      display: inline-block;
      background-color: white;
      border-radius: 50%;
      border: 1px solid #999;
      vertical-align: middle; }
      .product_description_nav_nextprev a img {
        padding: 10px;
        height: 10px;
        width: 10px; }
      .product_description_nav_nextprev a:first-child img {
        transform: scaleX(-1); }
  .product_card_all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .product_card_all .product_card_images, .product_card_all .product_card_buy {
      width: 45%; }
  .product_card_infos form .add_cart {
    flex-grow: 1; }
  .product_description_nav ul {
    display: flex;
    justify-content: center;
    font-size: .7em; }
  .product_description_text {
    display: flex;
    justify-content: space-between; }
    .product_description_text .product_description_texts {
      width: 65%; }
    .product_description_text img {
      width: 25%;
      height: 25%; }
  .product_flex_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .product_flex_container article {
      width: 150px;
      margin: 15px; } }

/*# sourceMappingURL=style.css.map */