

.about_first{

    margin-top: 100px;

    .about_us{
       display: flex;
       justify-content: flex-end;
        flex-direction: row-reverse;
        margin: 0 15px; 
        
        img{
            margin-bottom: 80px;
        }

    
    
    .about_us_text{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        width: auto;

        margin-right: 15px;

        h2{
            margin-left: 0;
        }

        h2 + p{
            padding-left: 0;
        }


    
    }
    
        
    }


}

.about_second{

    display: flex;
    justify-content: space-between;

    .moments_title{

        width: 30%;
        margin-right: 0;

    }

    .key_dates{

        width: 60%;

        justify-content: flex-end;

    }
}

