//to remove later//

body{

    main{
        padding: 0;
    }
}
//_______________________________________//



.about_us{

    img{
        display: flex;
        justify-content: center;
        align-content: flex-start;
    }

    img + p{
        color: $red;
    }

    
    p{
        color: $grey;
    }
}

.about_founder{

    img{

        display: flex;
        justify-content: center;    

    }

    blockquote{

        p{
            font-style: italic;
            font-size: large;
            font-weight: bold;
        }
        
    }
  
}

#about_author{
            
    color: $red;

}


#about_job{

    font-style: italic;
    font-size: large;
    font-weight: bold;

}

#about_job + p{

    color:$grey;
}

.about_second{

    .moments_title{

        h2 + p{
            color:$grey;
        }
    }
}

.key_dates{

    p{
        color: $grey;
        padding-top: 10px;
        padding-bottom: 30px;
    }
}

.about_third{

    .about_drama{

        height: 650px;
        width: 400px;


        font-size: 24px;
        font-weight: bold;
        text-align: center;

        background-image: url(../../img/about/video-img.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 850px;


        h2{
            
            text-align: center;
            padding-top: 20px;
        }

        img + img{
            position: absolute;
            
            
        }


    }
    

    .about_guarantee{

        margin: 20px;
        

        display: flex;
        flex-wrap:wrap ;
        justify-content: space-between;

        font-weight: bold;

        .contact_text{

            color:$grey;
            padding-bottom: 20px;
            font-weight: normal;
        }
    }
}


.about_fourth{

    .about_hidden{
        display: none;
        visibility: hidden;
    }

    .about_hidden + div{
        font-size: large;
        font-weight: bold;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 20px;
    }


    .about_shop{
        color: $grey;
    }


}

.about_fifth{

    padding-top: 80px;

    h2{
        text-align: center;
        padding-bottom: 20px;
    }

    .about_members{

        margin: 20px;
        
        display: flex;
        flex-wrap:wrap ;
        justify-content: space-between;

        img{
            width: 180px;
            height: 180px;
        }
        img + p{
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        p + p{
            color: $grey;
            padding-bottom: 40px;
        }

       
        
    }
}


.about_sponsors{

    padding-top: 100px;
    padding-bottom: 100px;

    margin: 0 20px;

    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;

    
    .about_hidden{
        display: none;
        visibility: hidden;
    }

    img{

        opacity: 0.5;

        margin: 10px;
        width:100px ;
        

        


    }
}




